
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
 .card{ 
    overflow: visible;
    width: 400px;
    height: 500px;
    border: 0;
 }
 .card > div{
    position: relative;
 }
 .card > div > img{
    position: absolute;
    width: 100%;
 }
 /* .atropos-spacer{
    height: 200px;
 } */
 .tiger{
    position: absolute;
    top: 50%;
    right: -220px;  
    width: 220px;
    height: 130px;
    transform: rotateZ(10deg);
    transition-timing-function: ease-in-out;
    transition: 1s !important;
    
 }
 .tig{
    transform: scale(2);
    width: 100% ;
    height: 100%;
 }
 .images{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: visible;
    width: 100%;
    height: 170px;
    box-shadow: 5px 5px 15px rgb(214, 170, 255);
 }
.first {
    margin: 30px;
    width: 18em;
    height: 400px;
    
  }
.atropos-button-wrap{
    background-color: rgba(0, 0, 215, 0.701);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
.atropos-button-wrap>a{
    background-color: rgb(83, 83, 255);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}
.card-title{
    text-shadow: 5px 5px 10px black;
}
.card-body{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px black;
}
.btn{
    color: white;
    background-color: rgb(122, 74, 168);
    box-shadow: 5px 5px 6px rgba(2, 2, 2, 0.685);
    color: white;
}
.btn:hover{
    color: white;
    transform: translateZ(+100px) !important;
}
.atroposinner{
    border-radius: 10px !important;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
}
/* .first:hover .tiger{
    top: 20%;
    right: 35px;
} */



.second{
    margin: 30px;
    width: 18em;
    height: 174px;
}
.images2{
    overflow: hidden;
    position: relative;
    height: 200px;
    box-shadow: 5px 5px 15px rgb(214, 170, 255);
 }
.original{
    width: 100%;
    height: 100%;
}
 .images2>img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
 }
 


 .images3{
    position: relative;
    width: 350px;
    height: 225px;
 }
 .images3>img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

 }
 .lefthand{
    left: -200px;
    transition: 1s;
    transition-timing-function: ease-in-out;
    filter: drop-shadow(5px 10px 10px black);
    
}
.righthand{
        transition: 2s;
        transition-timing-function: ease-in-out;
        left: 200px;
        filter: drop-shadow(5px 10px 10px black);
 }
 .third:hover .lefthand{
    left: 0px;
 }
 .third:hover .righthand{
    left: 0px;
 }